/* menu page */
.menus {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;


    .menu-container {
        display: flex;
        width: 100%;
        height: 100%;
        font-family: 'Montserrat', sans-serif;

        .menu {
            padding: 21% 0;
            width: 50%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .menu:first-child {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(/images/born.jpg);
        }

        .menu:last-child {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(/images/Dear-Ijeawele.jpeg)
        }

        h2 {
            color: var(--text-light);
            font-size: 2em;
            font-weight: 400;
            margin-top: 0;
            font-family: 'Playfair Display', serif;
        }

        h1 {
            color: var(--primary-color);
            font-size: 4em;
            letter-spacing: 2px;
            font-weight: 500;
            margin: 0;
        }

        p {
            color: var(--text-light);
            font-weight: 500;
        }

        a {
            text-decoration: none;
        }
    }
}